<form action="/update" method="POST">
	<input type='text' value='<%=data['state']%>' name='state'>
	<input type='text' value='<%=data['city']%>' name='city'>
	<input type='text' value='<%=data['pin']%>' name='pin'>
	<input type='submit' value='Update'>
</form>
